.counter {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35%;
  width: 100%;
}

.button {
  height: 5vh;
  width: 3vw;
  margin: 0px 10px;
}
