.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.door {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100px;
  background-color: brown;
}

.doorSelected {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100px;
  background-color: brown;
  border: solid 5px gold;
}

.doorOpen {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  justify-content: flex-end;
}

.door:hover {
  background-color: rgb(81, 23, 23);
}

.doorSelected:hover {
  background-color: rgb(81, 23, 23);
  border: solid 5px gold;
}

.number {
  margin-top: 5vh;
  align-self: center;
}

.number:hover {
  cursor: pointer;
}

.handle {
  color: gold;
  margin-top: 5vh;
  border: 2px solid gold;
  background-color: goldenrod;
  width: 0.5vw;
  border-radius: 100%;
  padding: 8px;
  align-self: flex-end;
  margin-right: 15px;
}

.doorEnd {
  height: 10px;
  width: 110px;
  background-color: rgb(110, 123, 136);
}

.gift {
  height: 8vh;
  width: 5vw;
  background-color: rgba(21, 255, 0, 0.56);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 1px;
}
